# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
logs/
*.out

# Environment variables
.env
.env.local
.env.production

# System files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDE files
.vscode/
.idea/

# AWS private keys (VERY important)
*.pem
*.key

# SSH keys
id_rsa
id_rsa.pub

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
project4/registry.terraform.io/
