apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
  namespace: devops-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
  template:
    metadata:
      labels:
        app: devops-app
    spec:
      containers:
      - name: devops-app
        image: devops-app:latest
        imagePullPolicy: Never   # <-- VERY IMPORTANT
        ports:
        - containerPort: 3000
